body { 
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  #alx {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
  
  
  #fullscreenBtn {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1000;
  }
  
  #fullscreenBtn:hover {
    background-color: #45a049;
  }
    

  #message {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    font-size: 60px;
    font-family: 'Arial', sans-serif;
    color: #02ccff; /* Zlatá barva pro elegantní vzhled */
    text-align: center;
    opacity: 0;
    text-shadow: 
      0 0 5px #1220dc, 
      0 0 10px #1220dc, 
      0 0 20px #1220dc, 
      0 0 30px #5f08b1, /* Růžová pro jemné lesknutí */
      0 0 40px #5f08b1, 
      0 0 50px #5f08b1, 
      0 0 75px #5f08b1; /* Růžová pro silnější lesk */
    animation: zoomIn 3s forwards, fadeIn 3s 0.5s forwards;
  }
  
  @keyframes zoomIn {
    0% { transform: translateX(-50%) scale(0); opacity: 0; }
    100% { transform: translateX(-50%) scale(1); opacity: 1; }
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
